.flex-wrapper
  //background-color: #282c34
  background: url('https://media.giphy.com/media/3oz8xBvY5MyxIdyuxa/source.gif') no-repeat center center fixed
  background-size: cover
  display: flex
  height: 100vh
  flex-direction: column

  .StartPageHeader
    margin: auto
    color: white

.welcomeForm
  margin: auto
  height: 50px
  width: 200px
  color: white
  position: relative
  top: -200px

  .nameLabel
    color: #ffffff

    label, input
      color: white

  .jumpInButton
    margin-top: 20px
    width: 200px

