.flex-wrapper
  background: url('https://media.giphy.com/media/3oz8xBvY5MyxIdyuxa/source.gif') no-repeat center fixed
  background-size: cover
  display: flex
  justify-content: center
  height: 100vh
  flex-direction: column
  text-align: center

  .StartPageHeader
    color: white
    margin: auto auto 0

.welcomeForm
  height: 50px
  width: 200px
  color: white
  margin: 0 auto auto

  .nameLabel
    color: #ffffff

    label, input
      color: white

  .jumpInButton
    margin-top: 20px
    width: 200px

