.StartPage
  //background-color: #282c34
  background: url('https://media.giphy.com/media/3oz8xBvY5MyxIdyuxa/source.gif') no-repeat center center fixed
  background-size: cover
  display: flex
  height: 100vh

  .StartPageHeader
    margin: auto
    color: white

.welcomeForm
  margin: auto
  height: 100px
  width: 200px
  //top: 40%
  //left: 45%
  color: white

  .startButton
    width: 200px

